h1{
    color: red;
}
#bgimg{
    background: url("/static/images/c.jpg") 50% 0 no-repeat fixed;
    height: 100vh;

}
.navbar{
    background-color: black;
    position: fixed;
    top: 0;
    left: 0; 
    z-index: 9999;
    width: 100%;
}
.navbar-brand{
    color: rgb(255, 0, 0);
    font-family: 'Roboto Slab', serif;
}
.nav-item a{
    color: white;
    font-family: 'Roboto Slab', serif;
    font-weight: lighter;
    margin-right: 30px;

}
.about {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}
.description {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  /* #imgcont a{
      width: 100%;
  } */
.wrapper{
    margin: 1em auto;
    max-width: 100%;
    column-gap: 1.5em;
}
.wrapper:hover .description {
    visibility: visible;

}
.wrapper img{
    width: 100%;
    opacity: 1;
    display: block;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}
.wrapper img:hover{
    opacity: 0.8;
    cursor: zoom-in;
  }

.images{
    background-color: black;
}
#cont{
    background-color: black;
    height: 100vh;
    margin-top: 30px;
 
}
.description{
    position: absolute;
    bottom: 0;
    right: 0;
    background: black;
    color: white;
    margin-bottom: 5px;
    font-family: sans-serif;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: visibility 0s, opacity 0.5s linear;  
    transition: visibility 0s, opacity 0.5s linear;
}
#btns{
    border-radius: 10px;
}
#btnss{
    border-radius: 30px;
    background-color: black;
    color: white;
    border: 2px solid rgb(253, 0, 0);

}
#btnss:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 2px solid rgb(255, 0, 0);


}
input::placeholder {
    font-size: 12px;
}
#form{
    border: 2px solid rgb(253, 0, 0);
    font-size: 17px;

}

#paginator{
    background-color: black;
    color: white;
}
#paginator a{
    color: rgb(255, 0, 0);
    font-size: 20px;
    font-weight: bolder;
}
#body{
    background-color: black;
}
#cont-title{
    color: rgb(255, 0, 0);
}

/* BUNNER */
.parallax {
    background-image:url("/static/images/j.jpg");
    background-size: 100%;
    background-attachment: fixed;

}
#cont-parallax{
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;

}
.parallax-inner {
    padding-top: 6%;
    padding-bottom: 6%;
}
#fab a:hover{
    color: red;

}
 /* #row{
    display: flex;
    flex-direction: row;
    background-color: aliceblue;
} 
#imgcont{
    width: 100%;
}  */

@media only screen and (min-device-width: 320px) and (max-device-width: 756px) {
    .about h3{
        font-size: 33px;
    }
    input::placeholder {
        font-size: 20px;
    }
    #btnss{
        font-size: 30px;
    }
    #btns{
        font-size: 30px;

    }
    #form{
        font-size: 30px;

    }
    #row-parallax h2{
        font-size: 33px;

    }
    #row-parallax p{
        font-size: 30px;

    }
    #drop{
        font-size: 30px;

    }
    #cont-title{
        font-size: 34px;
    }
    .navbar-brand{
        font-size: 34px;
    }
    .nav-item a{
      font-size: 30px;
    
    }
   
    #row{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    #imgcont{
         width: 100%; 
         padding-left: 40px;
        padding-left: 40px;
    } 
  }
  @media only screen and (min-device-width: 0px) and (max-device-width: 320px) {
    .about h3{
        font-size: 38px;
    }
    #btnss{
        font-size: 33px;
    }
    #btns{
        font-size: 42px;

    }
    input::placeholder {
        font-size: 30px;
    }
    #drop{
        font-size: 40px;

    }
    #form{
        font-size: 40px;

    }
    #cont-title{
        font-size: 42px;
    }
    .navbar-brand{
        font-size: 50px;
    }
    .nav-item a{
      font-size: 44px;
    
    }
    #row-parallax h2{
        font-size: 44px;

    }
    #row-parallax p{
        font-size: 38px;

    }

    #row{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    #imgcont{
         width: 100%; 
         padding-left: 40px;
        padding-left: 40px;
    } 
  }

/* @media screen and (max-width: 756px){
    #row{
        display: flex;
        flex-direction: column;
        background-color: aliceblue;
        width: 100%;
    }
    #imgcont{
         width: 100%; 
         padding-left: 40px;
        padding-left: 40px;
    } 
} */

/* @media screen and (min-width: 756px) { */
    /* #row{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    #imgcont{
        /* width: 100%; */
        /* padding-left: 40px;
        padding-left: 40px;
    } */ 
  /* } */