h1{
    color: red;
}
#bgimg{
    background: url("/static/images/c.jpg") 50% 0 no-repeat fixed;
    height: 100vh;

}
.navbar{
    background-color: black;
    position: fixed;
    top: 0;
    left: 0; 
    z-index: 9999;
    width: 100%;
}
.navbar-brand{
    color: rgb(255, 0, 0);
    font-family: 'Roboto Slab', serif;
}
.nav-item a{
    color: white;
    font-family: 'Roboto Slab', serif;
    font-weight: lighter;
    margin-right: 30px;

}
.about {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}
.description {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  /* #imgcont a{
      width: 100%;
  } */
.wrapper{
    margin: 1em auto;
    max-width: 100%;
    column-gap: 1.5em;
}
.wrapper:hover .description {
    visibility: visible;

}
.wrapper img{
    width: 100%;
    opacity: 1;
    display: block;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}
.wrapper img:hover{
    opacity: 0.8;
    cursor: zoom-in;
  }

.images{
    background-color: black;
}
#cont{
    background-color: black;
    height: 100vh;
    margin-top: 30px;
 
}
.description{
    position: absolute;
    bottom: 0;
    right: 0;
    background: black;
    color: white;
    margin-bottom: 5px;
    font-family: sans-serif;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: visibility 0s, opacity 0.5s linear;  
    transition: visibility 0s, opacity 0.5s linear;
}
#btns{
    border-radius: 10px;
}
#btnss{
    border-radius: 30px;
    background-color: red;

}
#btnss:hover {
    background-color: black;
    color: white;
    border: 2px solid rgb(253, 0, 0);


}
#form{
    border: 2px solid rgb(253, 0, 0);

}