{% extends 'base.html' %}
{% block content %}

<section>
    <div class="container-fluid" id="bgimg">
        <div class="about">
            <h3>Welcome to my Gallery</h3>
            <a href="#C">
                <button type="button" class="btn" id="btnss">View Images</button>
            </a>
            <div class="arrow bounce">

            </div>

        </div>
    </div>
</section>
<section class="images" id="C">
    <h3 class="text-center" id="cont-title">Image Gallery</h3>

    <div class="container-fluid">

        <div class="row" id="row">
            {% for image in images_all %}


            <div class="col-md-3" id="imgcont">

                <div class="wrapper">

                    <!-- <a  data-fancybox="gallery" href="{{image.img_path.url}}" data-buttons='["zoom","slideShow","fullScreen","thumbs","share","close"]' data-caption="{{image.img_name}}"  <p>Description {{image.img_decription}} </p>> <img src="{{image.img_path.url}}" alt="">
            
                    
                    </a> -->
                    <!-- {{image.img_path.url}} -->
                    <a href="{{image.img_path.url}}" id="forimg"  data-fancybox="gallery" data-buttons='["zoom","slideShow","fullScreen","thumbs","share","close"]' data-caption='<a href="{{image.img_path.url}}"><h6>Title : {{image.img_name}}</h6></a>
                    <p> Description :{{image.img_decription}}</p>
                    <p>Location: {{image.img_location}} / Category: {{image.img_category}}</p>
                    <p><a href="{{image.img_path.url}}" target="_blank"> Open In New Tab</a>
                    </p>

                    <button class="rounded btn-danger" onclick=copyLink("{{image.id}}-url") >📋Copy Link</button>'>
            
            <img class="rounded image" src="{{image.img_path.url}}" alt="{{image.img_name}}">
            </a>
            <input type="text" id="{{image.img_path.url}}" class="d-none form-control input-sm " value="https://kalebsgallery.herokuapp.com{{image.img_path.url}}">

                    <!-- <a  data-fancybox="gallery" href="{{image.img_path.url}}" data-caption="spa"> <img src="{{image.img_path.url}}" alt="" ></a> -->
                    <!-- "{{image.img_name}}{{image.img_decription}}  " -->

                </div>
               
            

            </div>
            <div class="description" >
                <h6 class="text" >{{image.img_name}}</h6>
              </div>
              {%endfor%}


        </div>


    </div>

</section>
<nav aria-label="Page navigation example" id="paginator">
    <ul class="pagination justify-content-center">
      
   
  
  {% if venues.has_previous %}
      <li class="page-item"><a class="page-link" href="?page=1">&laquo First</a></li>
  
      <li class="page-item"><a class="page-link" href="?page={{ venues.previous_page_number }}">Previous</a></li>
      
  {% endif %}
  
  <!--
  <li class="page-item disabled"><a href="#" class="page-link">Page {{ venues.number }} of {{ venues.paginator.num_pages }}</a></li>
  -->
  
  {% for i in nums %}
      <li class="page-item"><a class="page-link" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>
  
  {% endfor %}
  
  
  {% if venues.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ venues.next_page_number }}">Next</a></li>
  
      <li class="page-item"><a class="page-link" href="?page={{ venues.paginator.num_pages }}">Last &raquo</a></li>
  
  {% endif %}
   </ul>
  </nav>

  <div class="container-fluid" id="cont-parallax">
    <div class="parallax">
        <div class="parallax-inner">
            <div class="container text-center text-light">
                <div class="row align-items-center" id="row-parallax">
                    <div class="col-6" id="texts-b">
                        <h2 class="">Kaleb's Gallery</h2>
                        <p class="">The world without photography will be meaningless to us if there is no light and color, which opens up our minds and expresses passion</p>
                    </div>
                    <div class="col-6">
                        <h2>Contacts</h2>
                        <p>Email : calebkabaya7@gmail.com</p>
                        <p>Phone : +245748860959</p>
                    </div>
                  
                </div>
            </div>
          
        </div>
    </div>
</div>
<!-- Footer -->
<footer class="page-footer font-large">

    <!-- Footer Elements -->
    <div class="container">
  
      <!-- Grid row-->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-12 py-5">
          <div class="mb-5 flex-center" id="fab">
  
            <!-- Facebook -->
            <a class="fb-ic">
              <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <!-- Twitter -->
            <a class="tw-ic">
              <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <!-- Google +-->
            <a class="gplus-ic">
              <i class="fab fa-google-plus-g fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <!--Linkedin -->
            <a class="li-ic">
              <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <!--Instagram-->
            <a class="ins-ic">
              <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <!--Pinterest-->
            <a class="pin-ic">
              <i class="fab fa-pinterest fa-lg white-text fa-2x"> </i>
            </a>
          </div>
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row-->
  
    </div>
    <!-- Footer Elements -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2022 Copyright:Kaleb's Gallery
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->

  <script>
    function copyLink(imageid) {
      console.log("copied");
      var copyText = document.getElementById(imageid);
      copyText.select();
      document.execCommand("copy");
      navigator.clipboard.writeText(copyText);

      console.log(copyText.value)
      alert("Link copied to clipboard: " + copyText.value);
    }
    // copyLink =(element) => {
    //  document.getElementById(element).select();
    //  document.execCommand("copy");
    //         }
    
    </script>


    
{% endblock %}