<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand text-danger" href="#">Kaleb'sGallery</a>
    <button class="navbar-toggler btn-danger" id="toggle"  type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link text-light" href="{% url 'display' %}">Home <span class="sr-only">(current)</span></a>
        </li>
       
        <li class="nav-item dropdown">
            <a class="nav-link text-light dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Categories
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% for category in categories %}
              <a class="dropdown-item" href="{% url 'categories_display' category.category_name%}">{{category.category_name}}</a>
              {%endfor%}
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link text-light dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Locations
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% for location in locations %}
              <a class="dropdown-item" href="{% url 'location_display' location.location_name %}">{{location.location_name}}</a>
              {%endfor%}
            </div>
          </li>
        
      </ul>
      <form class="form-inline my-2 my-lg-0" role="search" action="{% url 'search_results' %}">
        <input class="form-control mr-sm-2" id="form" type="search" placeholder="Search by Category" aria-label="Search" name="searchby">
        <button class="btn btn-outline-danger my-2 my-sm-0" id="btns" type="submit">Search</button>
      </form>
    </div>
  </nav>
