{% extends 'base.html' %}
{% block content %}
<section class="images" id="cont">
    <div class="container-fluid">

        <div class="row">
            {% for image in all_images %}

            <div class="col-md-3" id="imgcont">

                <div class="wrapper">

                    <!-- <a  data-fancybox="gallery" href="{{image.img_path.url}}" data-buttons='["zoom","slideShow","fullScreen","thumbs","share","close"]' data-caption="{{image.img_name}}"  <p>Description {{image.img_decription}} </p>> <img src="{{image.img_path.url}}" alt="">
            
                    
                    </a> -->
                    <!-- {{image.img_path.url}} -->
                    <a href="{{image.img_path.url}}" id="forimg"  data-fancybox="gallery" data-buttons='["zoom","slideShow","fullScreen","thumbs","share","close"]' data-caption='<a href="{{image.img_path.url}}"><h6>Title : {{image.img_name}}</h6></a>
                    <p> Description :{{image.img_decription}}</p>
                    <p>Location: {{image.img_location}} / Category: {{image.img_category}}</p>
                    <p><a href="{{image.img_path.url}}" target="_blank"> Open In New Tab</a>
                    </p>
                    <button class="rounded btn-danger" value="{{image.img_path.url}}" id="copy1" onclick=copyFunction() >📋Copy Link</button>'>
            
            <img class="rounded image" src="{{image.img_path.url}}" alt="{{image.img_name}}">
            </a>
            <input type="text" id="copy" class="d-none form-control input-sm " value="https://kalebsgallery.herokuapp.com{{image.img_path.url}}">

                    <!-- <a  data-fancybox="gallery" href="{{image.img_path.url}}" data-caption="spa"> <img src="{{image.img_path.url}}" alt="" ></a> -->
                    <!-- "{{image.img_name}}{{image.img_decription}}  " -->

                </div>
               
            

            </div>
            <div class="description" >
                <h6 class="text" >{{image.img_name}}</h6>
              </div>
            {%endfor%}


        </div>

    </div>
    <script>

        function copyFunction() {
                //  Get the text field by its id
                let copiedLinkText = document.getElementById("copy");
        
                //   copy text inside the readonly input field
                navigator.clipboard.writeText(copiedLinkText.value);
              
                /* Alert the copied text */
                alert("Link copied to clipboard:" + copiedLinkText.value);
              }
           
            
            </script>

{%endblock%}